body {
  margin: 0;
  background-color: #1a1919;
  font-family: "Nunito", sans-serif;
  color: #e71d36;
}

header {
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
  background-color: #0a0908;
}

header a {
  text-decoration: none;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header nav a {
  padding: 10px 30px;
  font-size: 20px;
  color: #ffbc0a;
  border-radius: 5px;
}

header nav a:hover {
  background-color: #ffbc0a;
  color: #e71d36;
}

#page-logo a {
  color: #e71d36;
  text-shadow: 2px 2px 1px #ffbc0a;
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
}
