body {
  margin: 0;
  background-color: #1a1919;
  font-family: "Nunito", sans-serif;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0908;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header nav a {
  padding: 10px 30px;
  font-size: 20px;
  color: #ffbc0a;
  border-radius: 5px;
}

header nav a:hover {
  background-color: #ffbc0a;
  color: #e71d36;
}

#page-logo a {
  color: #e71d36;
  text-shadow: 2px 2px 1px #ffbc0a;
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
}

main h1 {
  text-align: center;
  color: #e71d36;
  font-size: 48px;
}

#latest-products {
  width: 80%;
  margin: 50px auto;
}

#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.food-item {
  background-color: #fefadc;
  border-radius: 6px;
  overflow: hidden;
}

.food-item img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.food-item-content {
  /* padding: 16px; */
  /* padding: 10%; */
  padding: 0.1rem;
  text-align: center;
  font-size: 200%;
}

.food-item-content h2 {
  margin: 0 0 10px 0;
}

h2 {
  font-size: 2rem;
}

.btn {
  background-color: #ffbc0a;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
}

.btn:hover {
  background-color: #e71d36;
}
